---
layout: default
---


<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h2 class="header" itemprop="headline">All posts by Categories</h2>
    <h2 class="header" itemprop="headline"><small>(sort by <a href="{{ site.baseurl }}/posts/">Years</a>)</small></h2>

      {% for category in site.categories %}
      <div class="col-md-12 content-panel articles">
        <h2 id="{{ category | first }}-ref">{{ category | first }}</h2>
        <ul>
          {% for posts in category %}
            {% for post in posts %}
              <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
              </li>
            {% endfor %}
          {% endfor %}

        </ul>
      </div>
      {% endfor %}

  </div>
</div>
