<!DOCTYPE html>
<html>

    {% include head.html %}

    {% if site.background-option == 2 %}
      {% if site.image-hosted-extern %}
        <body style='background-image: url("{{ site.background-image }}");'>
      {% else %}
        <body style='background-image: url("{{ site.baseurl }}/pictures/{{ site.background-image }}");'>
      {% endif %}
    {% elsif site.background-option == 3 %}
      {% if page.background-image %}
        {% if page.image-hosted-extern %}
          <body style='background-image: url("{{ page.background-image }}");'>
        {% else %}
          <body style='background-image: url("{{ site.baseurl }}/pictures/{{ page.background-image }}");'>
        {% endif %}
      {% else %}
        <body>
      {% endif %}  
    {% else %}
      <body>
    {% endif %}

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
